
.container{
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.box{
	width: 100%;
	height: 100px;
}

.black{
	background-color: black;
}

.baby_blue{
	background-color: #03a9f4;
}

.emerald{
	background-color: #02ecfa;
}

@media screen and (min-width: 450px){
	.black{width: 25%;}
	.baby_blue{width: 75%;}
}

@media screen and (min-width: 550px){
	.black, .emerald{width: 25%;}
	.baby_blue{width: 50%;}
}