/* 
CSS selectors: http://www.w3schools.com/cssref/css_selectors.asp
.image is selecting all class=image
.description is selecting all class=description
* is selecting ALL elements
*/

*{
	/*outline: 1px solid black !important;*/
	/*browser supoort */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.title{
	background: #5fe6ff;
	color: white;
	text-align: center;
}

.flexcontainer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

img{
	width: 33%;
	height: 400px;
	object-fit: fill;
}

.description {
	width: 33%;
	height: 100px;
	color: black;
	overflow-wrap: break-word; 
	text-align: center;
}

.one{
	background: green
}

.two{
	background: yellow
}

.three{
	background: red;
}
